@media screen and (max-width: 599px) {
   .tabs video {
      width: 80%;
      position: absolute;
      top: 10%;
      right: 0.5%;
      z-index: 0;
   }

   /*===================== tabs h1 top =====================*/
   .tabs .top-h1 {
      position: relative;
      top: 0;
      left: 0;
   }

   .caption {
      font-size: clamp(1.4rem, 1.255rem + 0.73vw, 1.8rem);
      width: 100%;
      padding: 1rem 10vmin;
      margin: 0;
      position: relative;
      border-top: 1px solid var(--text);
   }

   .tabs .top-h1 .caption::after {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      right: 10%;
      border-right: 1px solid var(--text);
   }

   /*===================== h1 top =====================*/

   /*===================== section =====================*/
   section .top-s {
      height: auto;
      min-height: 100svh;
      text-align: justify;
      position: relative;
      /*display: flex;
      縦に並べる
      flex-direction: column;
      縦方向の中央寄せ
      justify-content: flex-start;*/
      align-items: center;
      padding-bottom: 15vmin;
   }


   .h2-bg {
      font-family: sans-serif;
      width: 100vw;
      height: 15em;
      align-content: center;
      position: relative;
      top: 0;
      left: 0;
      padding: 0 10vmin;
      display: grid;
   }

   .policy .h2-bg span {
      font-size: clamp(6rem, calc(6rem + 0.1vw), 6.4rem);
   }

   .h2-bg p {
      font-size: clamp(1.6rem, 1.371rem + 1.14vw, 1.8rem);
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-left: 10vmin;
      border-top: 1px solid var(--text);
      border-bottom: 1px solid var(--text);
   }

   .section--third .button {
      margin-top: 3rem;
   }
   
   .policy .mobile-page .link-in::after,
   .policy .mobile-page .link-in:hover::after,
   .policy .mobile-page .link-in:focus::after {
      display: none;
   }
   .link-in::after {
      content: "";
      position: absolute;
      pointer-events: none;
      bottom: 5%;
      right: 0;
      width: 50%;
      height: 100px;
      opacity: 0;
      transition: opacity 0.15s ease;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center top;
   }

   /* Hover or Focus Animation */
   .link-in:hover::after,
   .link-in:focus::after {
      opacity: 1;
   }

   .link-in:hover::after,
   .link-in:focus::after {
      background-image: url('../assets/images/mobile-main-second.png');
   }

   .link-in:nth-child(3)::after,
   .link-in:nth-child(3):focus::after {
      background-image: url('../assets/images/bg-a.png');
   }

   .link-in:nth-child(4):hover::after,
   .link-in:nth-child(4):focus::after {
      background-image: url('../assets/images/text-gold.png');
   }

   .link-in {
      position: relative;
      height: 4.5em;
      bottom: 0;
      margin-bottom: 2vmin;
      border: 1px solid var(--text);
   }

   .link-in h3 {
      font-size: 2.4rem;
      text-align: left;
      line-height: 2;
      padding: 0 10vmin;
      border-bottom: 1px solid var(--text);
   }

   .link-in p {
      line-height: 1.6;
      position: absolute;
      right: 10vmin;
      bottom: 0;
   }

   /*===================== section in-box =====================*/
/*===================== img
   section #top-img {
      width: 80%;
      top: -10%;
      right: 0;
   }
*/
   /*===================== img
   section img {
      position: absolute;
   }

   .tabs img {
      width: 70%;
      top: -15%;
      right: -5%;
   }

   .top .section--first img,
   .top .section2 img,
   .top .section--third img,
   .top .section--fourth img {
      width: 400px;
      min-width: 250px;
      background: var(--hover);
   }

   .top .section--first img {
      height: 400px;
      top: 25%;
      right: -5%;
      clip-path: circle(40% at left);
   }

   .top .section--first img:last-child {
      width: 30%;
      height: 350px;
      top: 45%;
      right: 15%;
   }

   .top .section--third img {
      width: 25%;
      left: 0;
      bottom: 3%;
   }

   .top .section--fourth img {
      width: 45%;
      bottom: -5%;
      right: 0;
      transform: rotate(180deg);
   }*/

   /*===================== bg-aitem =====================*/
   .bg-aitem {
      width: 500px;
      height: 55px;
      position: relative;
      background: var(--text);
   }

   .top section .top-s .text:nth-child(4) {
      margin: 0;
   }

   .top #tab-4 .top-s .text {
      text-align: center;
      margin: 0 auto;
   }


   /*===================== Top =====================*/

   /*===================== About =====================*/
   /*.about section .top-s {
      align-items: center;
      justify-content: center;
   }
   .thoughts {
      width: 650px;
      display: flex;
      justify-content: center;
      gap: 2vmin;
   }*/

   .profile {
      display: grid;
      gap: 2rem;
      width: 80%;
      margin: 1vh auto 0;
   }

   .profile ol {
      height: 100%;
      padding-left: 1rem;
      margin: 0 auto 2vmin;
   }

   .profile ol p {
      position: relative;
      margin-bottom: -1rem;
   }

   .profile ol div {
      margin-top: 3rem;
      padding-left: 10px;
   }

   .profile li {
      width: fit-content;
      line-height: 20px;
      margin-bottom: -2%;
   }

   .profile li br {
      display: block;
      content: "";
      margin: -3px 0;
   }

   .profile li::before {
      content: "";
      display: block;
      position: relative;
      left: -13px;
      bottom: -20px;
      width: 10px;
      height: 10px;
      background: var(--bg);
      z-index: -1;
   }

   .profile li span {
      font-size: clamp(0.8rem, 0.571rem + 1.14vw, 1rem);
   }

   .profile .like .bg-aitem {
      width: 100%;
      height: 100px;
      margin-bottom: 3%;
      background: var(--hover);
   }

   /*========== .color */

   .about .section--third .color {
      width: 80%;
      display: grid;
      gap: 0.5rem;
      padding: 0.75rem;
      margin: 0 auto;
      background-color: var(--text);
   }

   .about .section--third .bg-aitem {
      width: 100%;
      height: 40px;
      margin: 0 auto;
      padding: 1rem;
      border: 1px solid var(--hover);
   }

   .about .section--third .bg-aitem:nth-child(1) {
      background: var(--text);
   }

   .about .section--third .bg-aitem:nth-child(2) {
      color: var(--text);
      background: var(--hover);
   }

   .about .section--third .bg-aitem:nth-child(3) {
      color: var(--text);
   }

   .about .section--third .bg-aitem:nth-child(4) {
      color: var(--bg);
      background: var(--accent);
   }

   .about .section--third .bg-aitem:nth-child(5) {
      color: var(--text);
      background: none;
   }


   /*===================== About =====================*/

   /*===================== Service =====================*/

   .service .section--first video {
      width: 70%;
      height: 80%;
      position: absolute;
      top: 10%;
      right: 0%;
      background: var(--text);
      z-index: -1;
      mix-blend-mode: difference;
   }

   /*========== .service img */
   .service .section--third img {
      width: 55%;
   }

   .flow-ol {
      font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
      letter-spacing: 0.25rem;
      width: 80%;
      margin: 1em auto;
      display: flex;
      flex-direction: column;
   }

   .flow {
      font-size: clamp(1.6rem, 1.371rem + 1.14vw, 1.8rem);
      margin: 1rem auto 4rem;
      padding-left: 1.4rem;
      letter-spacing: 0.1rem;
   }

   .flow:last-child {
      margin-bottom: 0;
   }

   .flow span {
      margin: 0 0.5rem;
   }
/*====== option =====*/
   .option {
      width: 100%;
      height: 400px;
      padding: 1rem 0.5rem 0;
      border: 1px solid var(--text);
      display: flex;
      overflow-y: scroll;
      background-image: url("../assets/images/pd-bg-img.jpg");
   }

   .option h3 {
      font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
      width: 240px;
      height: 45px;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid var(--text);
   }

   .option h4 {
      line-height: 3rem;
      border-bottom: 1px solid var(--text);
      padding-left: 0.5rem;
   }

   .option h4:nth-child(n + 2) {
      margin-top: 4rem;
   }

   .option ol {
      width: 100%;
      height: fit-content;
      margin: 0 0.4rem;
   }

   .option ol div {
      font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
      font-weight: 500;
      height: 320px;
      margin-top: 0.5rem;
      padding: 3rem 1rem;
      border: 1px solid var(--text);
      overflow-x: auto;
   }

   .option ol li {
      font-size: clamp(1.2rem, 0.743rem + 2.29vw, 1.6rem);
      width: fit-content;
      margin-top: 0.5rem;
      letter-spacing: 0.015rem;
   }

   .service .section--fifth .co-li a {
      margin-top: 2rem;
   }

   /*===================== Service =====================*/

   /*===================== Policy =====================*/

   .policy .mobile h3 {
      font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
      mix-blend-mode: lighten;
   }

   /*===================== Contents =====================*/

   .contents .main-se {
      width: 85vmin;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 25px;
      margin: 12vmin auto 0;
      padding: 3rem;
      overflow-x: auto;
   }

   .contents .m-se {
      width: 50%;
      padding: 0 0.5rem;
   }

   .contents .m-se ol {
      margin-top: 5rem;
      padding: 0 1rem;
      border: 1px solid var(--text);
   }

   .contents .m-se ol h3 {
      line-height: 5rem;
      margin-top: 5rem;
   }

   .contents .m-se ol h3:nth-of-type(1) {
      margin-top: 0;
   }

   .contents .m-se li {
      font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2rem);
      font-weight: 600;
      padding: 2rem;
      margin-bottom: 1rem;
      border: 1px solid var(--text);
   }

   .contents .m-se li p {
      font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.6rem);
      font-weight: 400;
      padding-top: 1rem;
      border-top: 1px solid var(--text);
   }
   /*===================== Contents =====================*/
}