@media screen and (min-width: 600px) and (max-width: 1299px) {
/*===================== mobile =====================*/
   /*===================== all =====================*/
   :root {
      font-size: 62.5%;
   }

   .pc {
      display: none;
   }

   .mobile {
      display: block;
   }

   /*===================== fade =====================*/
   .fade_bottom {
      transition: opacity 1.2s ease, transform 1.2s ease, filter 1.2s ease;
      filter: blur(4px);
      transform: translateY(15px);
   }

   .fade_bottom.visible {
      filter: blur(0);
      transform: translateY(0);
   }

   /*===================== body text =====================*/
   .mobile {
      /*font-family: zen-maru-gothic, sans-serif;*/
      font-family: sans-serif;
      font-weight: 500;
      font-style: normal;
      color: var(--bg);
      background: url("../assets/images/pd-bg-img.jpg") no-repeat bottom center/cover;
      background-attachment: fixed;
      position: relative;
      width: 100%;
      height: auto;
      padding: 5vmin 2vmin 0;
      overflow: hidden;
      overflow: visible;
   }

   .mobile::before,
   .mobile::after,
   .guide-left,
   .guide-left::after {
      background: url("../assets/images/mobile-main-second.png") no-repeat bottom center/cover;
      background-attachment: fixed;
      position: fixed;
      content: "";
      z-index: 110;
   }

   .mobile::before,
   .mobile::after {
      left: 0;
      width: 100%;
      height: 5vmin;
      z-index: 109;
   }

   .mobile::before {
      top: 0;
      border-bottom: 1px solid var(--border);
   }

   .mobile::after {
      bottom: 0;
      border-top: 1px solid var(--border);
   }

   .guide-left,
   .guide-left::after {
      width: 5vmin;
      height: 100%;
      top: 0;
   }

   .guide-left {
      left: 0;
      border-right: 1px solid var(--border);
   }

   .guide-left::after {
      right: 0;
      border-left: 1px solid var(--border);
   }

   .noise {
      background: linear-gradient(to bottom right, var(--bg), var(--text)) fixed;
      -webkit-background-clip: text; /* ベンダープレフィックス */
      background-clip: text; /* 標準プロパティ */
      -webkit-text-fill-color: darkgray;
      --lines: 0.01px;
      mask: repeating-radial-gradient(circle at center,
            #000,
            var(--lines),
            #000,
            0,
            #0000,
            calc(var(--lines) * 2),
            #0000 0);
      /* フォールバック：マスクがサポートされない場合の背景色 */
      background-color: lightgray;
      color: var(--text); /* フォールバック用のテキスト色 */
   }
   
   @media (prefers-color-scheme: light) {
      .noise {
         background: linear-gradient(to bottom, black, gray) fixed;
         -webkit-background-clip: text; /* ベンダープレフィックス */
         background-clip: text; /* 標準プロパティ */
         -webkit-text-fill-color: darkgray;
         color: var(--bg);
      }
   }
   


   /*===================== img =====================*/
   img {
      max-width: 100%;
      width: 65%;
   }
   /*===================== img =====================*/

   /*===================== text =====================*/
   h1 {
      /*font-size: 62.5%;=16px 12rem=120px*/
      font-size: clamp(4.8rem, 2.053rem + 7.32vw, 8rem);
      font-family: "Jost", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      color: var(--bg);
      width: fit-content;
      line-height: 7.5rem;
      letter-spacing: 0.5rem;
      padding-left: 4.5vmin;
   }

   h2,
   h3,
   h4 {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: var(--bg);
   }

   h2 {
      /*font-size: 62.5%;=16px 6rem=62px*/
      font-family: sans-serif;
      font-weight: 500;
      font-size: clamp(4rem, 1.94rem + 5.49vw, 6.4rem);
      width: fit-content;
      line-height: 7rem;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--bg);
   }

   .policy h2 {
      font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
      line-height: 3rem;
      -webkit-text-stroke-width: 0;
   }

   h3 {
      /*font-size: 62.5%;=16px 4rem=42px*/
      font-size: clamp(2rem, -0.286rem + 11.43vw, 4rem);
   }

   h4 {
      /*font-size: 62.5%;=16px 4rem=42px*/
      font-size: clamp(1.8rem, 1.582rem + 1.09vw, 2.4rem);
   }

   p {
      /*font-size: 62.5%;=16px 1.2rem=12px*/
      font-size: clamp(1.4rem, 1.171rem + 1.14vw, 1.6rem);
      width: fit-content;
      letter-spacing: 0.01rem;
      line-height: 3rem;
   }
   .text {
      margin-top: 1%;
   }

   ol,
   ul {
      font-size: clamp(1.4rem, 0.943rem + 2.29vw, 1.8rem);
      font-family: sans-serif;
   }

   li {
      font-size: clamp(1.4rem, 1.171rem + 1.14vw, 1.6rem);
      list-style: none;
   }


   /*===================== リンク =====================*/
   section a {
      border: 0;
   }

   a {
      font-family: futura-pt, sans-serif;
      font-size: clamp(1.8rem, 1.114rem + 3.43vw, 2.4rem);
      font-weight: 400;
      color: var(--accent);
      width: fit-content;
      height: fit-content;
      padding: 0.25rem 0.5rem;
      left: 0;
      bottom: 65%;
      bottom: 0;
      position: relative;
      display: inline-block;
      text-decoration: none;
      z-index: 100;
   }
   a:active {
      color: rgba(217, 217, 217, 0.5);
   }

   header a::after,
   footer a::after {
      content: "";
      width: 100%;
      height: 1px;
      bottom: 5px;
      position: absolute;
      left: 0;
      background-color: var(--bg);
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.3s ease;
   }

   header a:hover::after,
   footer a:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
   }

   section .button {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      width: 150px;
      height: 40px;
      margin-left: 0.5vmin;
      position: relative;
      transition: 0.3s;
   }

   section .button::before,
   section .button::after {
      content: "";
      display: block;
      position: absolute;
      border: 1px solid var(--border);
      width: 100%;
      height: 100%;
      transition: 0.3s;
   }

   section .button::before {
      top: -5px;
      left: -5px;
   }

   section .button::after {
      top: 3px;
      left: 3px;
   }

   section .button:hover::before,
   section .button:hover::after {
      top: 0;
      left: 0;
   }

   /*===================== リンク =====================*/

   .hr {
      height: 25px;
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
   }

   main {
      background: none;
   }

      .tabs video {
         width: 80%;
         position: absolute;
         top: 10%;
         right: 0.5%;
         z-index: 0;
      }
   
      /*===================== tabs h1 top =====================*/
      .tabs .top-h1 {
         display: grid;
         gap: 10px;
         width: 95%;
         position: absolute;
         top: 7.65%;
         left: 3vmin;
         padding-left: 0;
         border-bottom: 1px solid var(--border);
         /*backdrop-filter: blur(15px);*/
         /*border: 1px solid rgba(217, 217, 217, 0.45);*/
         /*box-shadow: 0 2px 3px rgba(46, 46, 46, 0.4);*/
      }
   
      .tabs .top-h1::after {
         content: "";
         height: 100%;
         position: absolute;
         top: 0;
         left: 3%;
         border-right: 1px solid var(--border);
      }
   
      .tabs .caption {
         font-size: clamp(1.4rem, 1.255rem + 0.73vw, 1.8rem);
         position: absolute;
         bottom: 0;
         left: 3.5%;
         padding: 1rem 0 1rem 0.25rem;
         border: 1px solid var(--border);
         border-left: 0;
         border-bottom: 0;
         z-index: 1;
      }
   
      .tabs .top-h1 .caption {
         position: relative;
         width: 100%;
         padding: 1rem 0.75rem;
         margin: 0;
         border: 0;
         border-top: 1px solid var(--border);
      }
   
      .tabs .top-h1 .caption::after {
         content: "";
         height: 100%;
         position: absolute;
         top: 0;
         border-right: 1px solid var(--border);
      }
   
      /*===================== h1 top =====================*/
   
      /*===================== section =====================*/
      section .top-s {
         height: auto;
         min-height: 85vh;
         border-top: 1px solid var(--border);
         border-bottom: 1px solid var(--border);
         padding: 12rem 12vmin;
         text-align: justify;
         display: flex;
         position: relative;
         /* 縦に並べる */
         flex-direction: column;
         align-items: center;
         /*縦方向の中央寄せ*/
         justify-content: flex-start;
         gap: 20px;
      }
   
   
      .h2-bg {
         font-family: sans-serif;
         width: 100%;
         height: 100px;
         border-bottom: 1px solid var(--border);
         padding-left: 12vmin;
         align-content: center;
         position: absolute;
         top: 0;
         left: 0;
         display: grid;
         gap: 0;
      }
   
      .policy .h2-bg span {
         font-size: clamp(6rem, calc(6rem + 0.1vw), 6.4rem);
      }
   
      .h2-bg p::before {
         content: "";
         width: 100%;
         height: 0;
         position: absolute;
         left: 0;
         bottom: 30px;
         border-top: 1px solid var(--border);
         /*background-color: rgba(217, 217, 217, 0.15);
       background-image: repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(46, 46, 46, 1) 1px, rgba(46, 46, 46, 1) 2px);*/
      }
   
      .section3 .button {
         margin-top: 3rem;
      }
   
      /*===================== .service =====================*/
   
      .se-list {
         width: 100%;
         position: absolute;
         right: 0;
         bottom: 0;
      }
   
      .se::after {
         content: "";
         position: absolute;
         pointer-events: none;
         bottom: 5%;
         right: 0;
         width: 50%;
         height: 100px;
         opacity: 0;
         transition: opacity 0.15s ease;
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center top;
      }
   
      /* Hover or Focus Animation */
      .se:hover::after,
      .se:focus::after {
         opacity: 1;
      }
   
      .se-01:hover::after,
      .se-01:focus::after {
         background-image: url('../assets/images/mobile-main-second.png');
      }
   
      .se-02:hover::after,
      .se-02:focus::after {
         background-image: url('../assets/images/mobile-main-second.png');
      }
   
      .se-03:hover::after,
      .se-03:focus::after {
         background-image: url('../assets/images/mobile-main-second.png');
      }
   
      .top .se {
         position: relative;
         height: 15vmin;
         margin-top: 2.5rem;
         bottom: 0;
      }
   
      .top .se h3 {
         font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
         width: 100%;
         position: absolute;
         right: 0;
         bottom: 0%;
         padding: 0 2rem;
         border-bottom: 1px solid var(--border);
      }
   
      .top .se p {
         position: absolute;
         right: 5%;
         bottom: 15%;
      }
   
      /*video size*/
      .top .se .video-1,
      .top .se .video-2,
      .top .se .video-3 {
         width: 100%;
         height: 90%;
         position: absolute;
         top: 0;
         right: 0;
         border: 1px solid var(--border);
         border-left: 0;
         border-right: 0;
      }
   
      .se .video-1::before,
      .se .video-2::before,
      .se .video-3::before {
         content: "";
         width: 35px;
         height: 100%;
         position: absolute;
         left: 0;
         border-right: 1px solid var(--border);
      }
   
      /*===================== .works =====================*/
   
      .top .work {
         bottom: 0;
      }
      .work {
         position: absolute;
         left: 0;
         width: 100%;
      }
   
      .design h4,
      .art h4 {
         font-size: clamp(3.8rem, 3.343rem + 2.29vw, 4.2rem);
         padding-left: 0.5rem;
      }
   
      .design,
      .art,
      .design video,
      .art video {
         position: absolute;
         bottom: 0;
         border: 1px solid var(--border);
      }
   
      .design video,
      .art video {
         border: 5px solid var(--bg);
         background: var(--border);
      }
   
      .design,
      .art {
         left: 3vmin;
         width: 50%;
         height: 50vmin;
      }
   
      .design video,
      .art video {
         width: 85%;
         height: 85%;
      }
   
      .art {
         left: 53%;
      }
   
      /*===================== section in-box =====================*/
   /*===================== img
      section #top-img {
         width: 80%;
         top: -10%;
         right: 0;
      }
   */
      /*===================== img
      section img {
         position: absolute;
      }
   
      .tabs img {
         width: 70%;
         top: -15%;
         right: -5%;
      }
   
      .top .section1 img,
      .top .section2 img,
      .top .section3 img,
      .top .section4 img {
         width: 400px;
         min-width: 250px;
         background: var(--hover);
      }
   
      .top .section1 img {
         height: 400px;
         top: 25%;
         right: -5%;
         clip-path: circle(40% at left);
      }
   
      .top .section1 img:last-child {
         width: 30%;
         height: 350px;
         top: 45%;
         right: 15%;
      }
   
      .top .section3 img {
         width: 25%;
         left: 0;
         bottom: 3%;
      }
   
      .top .section4 img {
         width: 45%;
         bottom: -5%;
         right: 0;
         transform: rotate(180deg);
      }*/
   
      /*===================== bg-aitem =====================*/
      .bg-aitem {
         width: 500px;
         height: 55px;
         position: relative;
         background: var(--border);
      }
   
      .top section .top-s .text:nth-child(4) {
         margin: 0;
      }
   
      .top #tab-4 .top-s .text {
         text-align: center;
         margin: 0 auto;
      }
   
   
      /*===================== Top =====================*/
   
      /*===================== About =====================*/
      /*.about section .top-s {
         align-items: center;
         justify-content: center;
      }
      .thoughts {
         width: 650px;
         display: flex;
         justify-content: center;
         gap: 2vmin;
      }*/
   
      .profile {
         display: grid;
         gap: 2rem;
      }
   
      .profile ol {
         height: 100%;
         padding-left: 1rem;
         margin: 0 auto 2vmin;
      }
   
      .profile ol p {
         position: relative;
         letter-spacing: 0.25rem;
         margin-bottom: -1rem;
      }
   
      .profile ol div {
         margin-top: 3rem;
         padding-left: 10px;
      }
   
      .profile li {
         font-size: clamp(1.6rem, 1.371rem + 1.14vw, 1.8rem);
         width: 100%;
         line-height: 20px;
         margin-bottom: -2%;
      }
   
      .profile li br {
         display: block;
         content: "";
         margin: -3px 0;
      }
   
      .profile li::before {
         content: "・";
         display: block;
         position: relative;
         left: -13px;
         bottom: -20px;
      }
   
      .profile li span {
         font-size: clamp(0.8rem, 0.571rem + 1.14vw, 1rem);
      }
   
      .profile .like .bg-aitem {
         width: 100%;
         height: 100px;
         margin-bottom: 3%;
         background: var(--hover);
      }
   
      /*========== .works */
   
      .about .work {
         top: 45%;
      }
   
   
      /*========== .works */
   
      /*========== .color */
   
      .about .section4 .color {
         width: 100%;
         display: grid;
         gap: 0.5rem;
         padding: 0.75rem;
         background-color: var(--border);
      }
   
      .about .section4 .bg-aitem {
         width: 100%;
         height: 40px;
         margin: 0;
         padding: 1rem;
         border: 1px solid var(--hover);
      }
   
      .about .section4 .bg-aitem:nth-child(1) {
         background: var(--text);
      }
   
      .about .section4 .bg-aitem:nth-child(2) {
         color: var(--border);
         background: var(--hover);
      }
   
      .about .section4 .bg-aitem:nth-child(3) {
         color: var(--text);
      }
   
      .about .section4 .bg-aitem:nth-child(4) {
         color: var(--bg);
         background: var(--accent);
      }
   
      .about .section4 .bg-aitem:nth-child(5) {
         color: var(--text);
         background: none;
      }
   
   
      /*===================== About =====================*/
   
      /*===================== Service =====================*/
   
      .service .section1 .h2-bg {
         gap: 5px;
      }
   
      .service .section1 video {
         width: 70%;
         height: 80%;
         position: absolute;
         top: 10%;
         right: 0%;
         background: var(--text);
         z-index: -1;
         mix-blend-mode: difference;
      }
   
      /*========== .service img */
      .service .section3 img {
         width: 55%;
      }
   
      .flow-ol {
         font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
         letter-spacing: 0.25rem;
      }
   
      .flow {
         font-size: clamp(1.6rem, 1.371rem + 1.14vw, 1.8rem);
         margin: 1rem auto 4rem;
         padding-left: 1.4rem;
         letter-spacing: 0.1rem;
      }
   
      .flow:last-child {
         margin-bottom: 0;
      }
   
      .flow span {
         margin: 0 0.5rem;
      }
   /*====== option =====*/
      .option {
         width: 100%;
         height: 400px;
         padding: 1rem 0.5rem 0;
         border: 1px solid var(--border);
         display: flex;
         overflow-y: scroll;
         background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
      }
   
      .option h3 {
         font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
         width: 240px;
         height: 45px;
         padding: 1rem 2rem;
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         border: 1px solid var(--border);
      }
   
      .option h4 {
         line-height: 3rem;
         border-bottom: 1px solid var(--border);
         padding-left: 0.5rem;
      }
   
      .option h4:nth-child(n + 2) {
         margin-top: 4rem;
      }
   
      .option ol {
         width: 100%;
         height: fit-content;
         margin: 0 0.4rem;
      }
   
      .option ol div {
         font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
         font-weight: 500;
         height: 320px;
         margin-top: 0.5rem;
         padding: 3rem 1rem;
         border: 1px solid var(--border);
         overflow-x: auto;
      }
   
      .option ol li {
         font-size: clamp(1.2rem, 0.743rem + 2.29vw, 1.6rem);
         width: fit-content;
         margin-top: 0.5rem;
         letter-spacing: 0.015rem;
      }
   
      .service .section5 .co-li a {
         margin-top: 2rem;
      }
   
      /*===================== Service =====================*/
   
      /*===================== Contact =====================*/
      .contact .mobile h3 {
         font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
      }
   
      /*===================== Policy =====================*/
   
      .policy .h2-bg {
         height: 75px;
         padding-right: 2.5rem;
      }
      .policy .mobile h3 {
         font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
         mix-blend-mode: lighten;
      }
   
      /*===================== Contents =====================*/
   
      .contents .main-se {
         width: 85vmin;
         height: 500px;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         gap: 25px;
         margin: 12vmin auto 0;
         padding: 3rem;
         overflow-x: auto;
      }
   
      .contents .m-se {
         width: 50%;
         padding: 0 0.5rem;
      }
   
      .contents .m-se ol {
         margin-top: 5rem;
         padding: 0 1rem;
         border: 1px solid var(--border);
      }
   
      .contents .m-se ol h3 {
         line-height: 5rem;
         margin-top: 5rem;
      }
   
      .contents .m-se ol h3:nth-of-type(1) {
         margin-top: 0;
      }
   
      .contents .m-se li {
         font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2rem);
         font-weight: 600;
         padding: 2rem;
         margin-bottom: 1rem;
         border: 1px solid var(--border);
      }
   
      .contents .m-se li p {
         font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.6rem);
         font-weight: 400;
         padding-top: 1rem;
         border-top: 1px solid var(--border);
      }
      /*===================== Contents =====================*/
      /*===================== Blog =====================*/
      /* メインレイアウト */
      .blog {
         display: flex;
         flex-wrap: wrap;
         max-width: 300px;
         height: auto;
         margin: 10vmin auto 5vmin;
         gap: 5vmin;
         /*background: rgba(186, 186, 186, 0.76);*/
         background: var(--bg);
      }
      .sidebar {
         flex: none;
         padding: 0;
         border-right: 0;
      }
   
      .sidebar h2 {
         font-size: 2rem;
      }
   
      .sidebar a {
         color: var(--side-a);
      }
   
      .sidebar a:hover {
         color: var(--text);
      }
   
      /*said*/
      .categories {
         margin-top: 0;
         top: 15vmin;
      }
   
      .toc h2 {
         margin-top: 5vmin;
      }
   
      .toc {
         width: 50%;
         margin-top: 0;
         bottom: 0;
      }
      .toc a {
         font-size: 1.2rem;
      }
      .toc a:active {
         color: var(--text);
      }
      .categories li {
         list-style: circle;
         margin-left: 2.5vmin;
      }
   
      .toc li {
         font-weight: bold;
         margin-left: 1.5vmin;
      }
      .content {
         padding: 3rem;
         padding-left: 0;
      }
   
      .content h2,
      .content h3 {
         width: 100%;
         border-bottom: 1px solid var(--text);
         text-align: left;
         padding: 15vmin 1rem 0;
         margin: 0 auto;
         border-bottom: 1px solid;
         mix-blend-mode: normal;
         background: none;
         position: relative;
         z-index: 1;
      }
      .content h2 span {
         font-size: 3.8rem;
         color: #d5d5d5;
         position: absolute;
         transform: rotate(-10deg) translate(-20%,40%);
         z-index: -1;
      }
   
      .content p {
         width: 100%;
         text-align: left;
         padding: 1rem 1rem 0;
         margin: 0 auto;
      }
   
      /* 記事カード */
      .article-card {
         flex-direction: column;
         gap: 3vmin;
         padding: 1rem;
         border: 1px solid var(--text);
         border-radius: 5px;
      }
   
      .articles {
         margin: 20vmin auto 0;
      }
   
      .articles h3,
      .articles h4 {
         font-weight: 800;
      }
   
      .articles h3 {
         margin: 2rem 0 1rem;
      }
   
      .article-card img {
         width: 100%;
         height: 70px;
      }
   
      .article-card h4 {
         font-size: 1.4rem;
         margin: 0;
      }
   
      .article-card p {
         font-size: 1rem;
         margin: 0;
         padding: 0;
      }
   
      .articles a {
         color: var(--side-a);
         border-bottom: 1px solid;
      }
   
      main .button {
         display: contents;
         height: auto;
         margin: 0;
         color: var(--side-a);
      }
      main .button::before,
      main .button::after {
         display: none;
      }
      /*===================== Blog =====================*/

}