/*==アコーディオン==*/
.accordion-wrap {
    width: calc(60% - 50px);
    position: relative;
    padding: 1rem;
    margin: 0 auto 1em;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.accordion-item {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    border: 1px solid var(--text);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.85);
    background: rgba(5, 2, 8, 0.1);
}

.accordion-header {
    cursor: pointer;
    display: block;
    align-content: center;
    position: relative;
    width: 100%;
    padding-left: 10%;
    border-bottom: 1px solid var(--text);
    transition: color 100ms;
}

.accordion-header:hover,
.accordion-header:active {
    background-color: rgba(205, 205, 205, 0.45);
}


.accordion-header h3 {
    font-size: clamp(1.8rem, 1.381rem + 0.52vw, 2rem);
    font-weight: 600;
    border-left: 1px solid var(--text);
    padding: 0 1rem;
}

/*in-text*/
.accordion-text {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.5s ease, padding 0.4s ease;
}

.accordion-item.active .accordion-text {
    overflow: auto;
    min-height: fit-content;
}

.accordion-text h4 {
    font-size: clamp(1.6rem, 1.181rem + 0.52vw, 1.8rem);
    font-weight: 600;
    color: var(--text);
    margin: 1vmin 10vmin 0;
    mix-blend-mode: normal;
}

.accordion-text p {
    font-size: clamp(1.4rem, 0.981rem + 0.52vw, 1.6rem);
    width: 80%;
    font-weight: 600;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    text-shadow: none;
}

.contact #section--third .accordion-text p {
    width: 80%;
}

/*== プラスアイコン（＋）の構造 ==*/
.fa {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0;
    left: 1.5vmin;
    align-content: center;
}

.fa span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text);
    transform: translateY(-50%);
}

.fa span:nth-child(2) {
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
    transition: transform 0.4s ease;
}

/* アクティブ時：縦線を非表示にして ＋→− に */
.fa.rotate-fa span:nth-child(2) {
    transform: translateX(-50%) scaleY(0);
}


@media screen and (max-width: 600px) {
    .accordion-wrap {
        width: 80%;
        padding: 0.15rem;
        margin: 1em auto;
    }

    .accordion-header {
        height: 45pt;
        border-radius: 10px;
    }

    .accordion-header:active {
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
        background-color: rgba(205, 205, 205, 0.45);
    }

    .accordion-item {
        border-radius: 10px;
        margin-bottom: 2vmin;
        background-color: rgba(225, 222, 248, 0.2);
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }

    .accordion-text p {
        font-size: clamp(1.4rem, 1.335rem + 0.33vw, 1.6rem);
        width: 90%;
    }
}