* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* =====================
   layout
===================== */

.cd-layout {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   gap: 15%;
}

/* =====================
   card wrapper
===================== */

.card-wrapper {
  position: relative;
  cursor: pointer;

  display: inline-block;

  margin: 2vmin 0 3vmin 5vmin;

}

.card {
  font-family: "futura-pt", sans-serif;
   width: 360px;
   height: 235px;
  padding: 1.5rem 0 1rem 0;
  background: url("../assets/images/mobile-main-second.png");
  background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
   border-radius: 8px;
  color: var(--bt);
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: opacity 0.25s ease;
}

/* =====================
   card detail
===================== */

.card-detail {
  position: absolute;
    top: 5%;
  left: 20%;
  width: 300px;
  height: 200px;
  padding: 0.5rem;

  background:
      linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(20, 20, 20, 0.4) 100%),
      url("../assets/images/pd-body-bg.jpg");

   border-radius: 8px;

  opacity: 0;
  transform: translateX(10px) scale(0.95);
  pointer-events: none;

  background-size: cover;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);

   transition: all 0.5s ease;
}


.card-detail h5 {
   font-size: 2rem;
   color: var(--bg);
   text-shadow: 0 1px 1px var(--text);
}

.card-detail p {
   font-weight: 400;
   width: 97%;
   line-height: 1.8;
   opacity: 0;
   transition: opacity 0.6s ease 0.2s;
}


/* =====================
   card active
===================== */


.card-wrapper.active .card {
  transform: scale(1.15);
}

.card-wrapper.active .card-detail {
  opacity: 1;
  transform: translateX(0) scale(1);
}
