.card-wrapper {
  position: relative;
  cursor: pointer;
}

.card {
  width: 300px;
  height: 180px;
  background: #333;
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  transition: transform .4s;
}

.card-detail {
  position: absolute;
  top: 0;
  left: 260px;
  width: 300px;
  height: 100%;
  background: #111;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;

  opacity: 0;
  transform: translateX(40px);
  pointer-events: none;
  transition: .4s;
}

.card-wrapper.active .card {
  transform: scale(1.15);
}

.card-wrapper.active .card-detail {
  opacity: 1;
  transform: translateX(0);
}
