/* ===== layout ===== */

.cd-layout {
  display: flex;
  gap: 5rem;
  margin-top: 3rem;
}

/* ===== wrapper ===== */

.card-wrapper {
  position: relative;
  cursor: pointer;
}

/* ===== card ===== */

.card {
  width: 300px;
  height: 180px;
  padding: 2rem;
  background: #333;
  border-radius: 10px;
  position: relative;
  z-index: 2;

  transition: transform 0.4s ease;
}

/* ===== detail ===== */

.card-detail {
  position: absolute;
  top: 0;
  left: 260px;

  width: 420px;
  height: 100%;
  padding: 2rem;

  background: #111;
  border-radius: 10px;

  opacity: 0;
  transform: translateX(40px);
  pointer-events: none;

  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

/* ===== active ===== */

.card-wrapper.active .card {
  transform: scale(1.15);
}

.card-wrapper.active .card-detail {
  opacity: 1;
  transform: translateX(0);
}
