/* =====================
   layout
===================== */

.cd-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

/* =====================
   card wrapper
===================== */

.card-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 2vmin 0 3vmin 5vmin;
  z-index: 1;
}

/* =====================
   card
===================== */

.card {
  font-family: "futura-pt", sans-serif;
  width: 360px;
  height: 235px;
  padding: 1.5rem 0 1rem 0;

  background: url("../assets/images/mobile-main-second.png") center / cover;
  background-repeat: no-repeat;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  color: var(--bt);

  position: relative;
  overflow: hidden;
  z-index: 2;

  transition:
    transform 0.45s ease,
    opacity 0.25s ease;
}

/* =====================
   content
===================== */

.card-header {
  font-size: 1.4rem;
  margin-left: 2rem;
  /*margin-bottom: 0.8vmin;*/
}

.card-content h3 {
  font-size: clamp(2rem, 0.667rem + 1.78vw, 2.8rem);
  font-family: sans-serif;
  font-weight: 400;
  width: 100%;
  padding-left: 2rem;
  color: transparent;
  mix-blend-mode: lighten;
  border-bottom: 1px solid;
  line-height: 2;
}

.modal .card-content p {
  color: var(--bt);
  text-align: left;
  position: absolute;
  left: 2rem;
  top: 10.5vmin;
  width: 90%;
  font-size: 1.6rem;
  line-height: 1.4;
}

.card-footer {
  font-size: clamp(1.8rem, 1.467rem + 0.44vw, 2rem);
  font-family: sans-serif;
  font-weight: 600;
  line-height: 2;
  position: absolute;
  left: 2rem;
  bottom: 1.5rem;
  border-bottom: 0.5px solid;
}

.card-footer::after {
  content: "more -";
  font-size: clamp(1.2rem, 0.867rem + 0.44vw, 1.4rem);
  margin-left: 1rem;
}

/* =====================
   detail
===================== */

.card-detail {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 300px;
  height: 200px;
  padding: 1.5rem 3rem 0;

  background:
    linear-gradient(to top, rgba(0, 0, 0, .65), rgba(20, 20, 20, .4)),
    url("../assets/images/pd-body-bg.jpg");

  background-size: cover;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);

  transform: translateX(10px) scale(0.95);
  pointer-events: none;

  z-index: 1;

  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

/* =====================
   detail text
===================== */

.card-detail h4,
.card-detail h5,
.card-detail p {
  transition: opacity 0.6s ease 0.2s;
}
.card-detail h4 {
  font-size: 1.4rem;
}

.card-detail h5 {
  font-size: 1.6rem;
  line-height: 2.3;
  color: var(--bg);
  text-shadow: 0 1px 1px var(--text);
}

.card-detail p {
  font-size: 1.2rem;
  font-weight: 400;
  width: 90%;
  line-height: 1.8;
  opacity: 0;
}

.card-detail .right-text {
  font-family: "Jost", serif;
  font-size: 1rem;
}

.card-detail .right-text::before {
   width: 15vmin;
   right: 30px;
}

/* =====================
   active
===================== */

.card-wrapper.active {
  z-index: 10;
  transition: transform 0.45s ease;
}

.card-wrapper.active .card-detail h4,
.card-wrapper.active .card-detail h5,
.card-wrapper.active .card-detail p {
  opacity: 1;
}

.card-wrapper.active .card {
  transform: translateX(0) scale(0.9);
}

.card-wrapper.active .card-detail {
  transform: translateX(70px) scale(1.35);
  pointer-events: auto;
  z-index: 3;

  transition: transform 0.45s ease 0.15s;

  animation: cardDetailFlow 0.7s ease forwards;
}

.card-wrapper:not(.active) .card-detail {
  animation: cardDetailBackward 0.6s ease forwards;
}

/* =====================
   animation
===================== */

@keyframes cardDetailFlow {
  /* ① 左にスライド */
  0% {
    transform: translateX(0) scale(1);
    z-index: 1;
  }

  35% {
    transform: translateX(280px) scale(1);
    z-index: 1;
  }

  /* ② 停止＋レイヤーを上へ */
  55% {
    transform: translateX(280px) scale(1);
    z-index: 3;
  }

  /* ③ 右へスライドして card に重なる */
  100% {
    transform: translateX(30px) scale(1.35);
    z-index: 3;
  }
}


@keyframes cardDetailBackward {
  0% {
    transform: translateX(30px) scale(1.35);
    z-index: 3;
  }

  45% {
    transform: translateX(280px) scale(0.95);
    z-index: 3;
  }

  65% {
    transform: translateX(280px) scale(0.95);
    z-index: 1;
  }

  100% {
    transform: translateX(0) scale(0.95);
    z-index: 1;
  }
}
