:where(input[type="checkbox"], input[type="radio"]) {
   font-size: inherit;
   line-height: inherit;
   margin: 0;
   block-size: 2.4rem;
   inline-size: 2.4rem;
   vertical-align: sub;
}

form .radio-group label {
   margin: 0.3rem;
}

form input[type="checkbox"],
form input[type="radio"] {
   position: relative;
   appearance: none;
   width: 1.4em;
   height: 1.4em;
   border-radius: 3px;
   margin-right: 0.8vmin;
   background: var(--bg);
   box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.75);
}
/* チェックされたらラジオボタン内側を表示 */
form input[type="checkbox"]:checked::before,
form input[type="radio"]:checked::before {
   opacity: 1;
}
form input[type="checkbox"]::before,
form input[type="radio"]::before {
   content: "";
   background-color: var(--text);
   box-shadow: 0 1px 2px 0px rgba(46, 46, 46, 0.45);
   border-radius: 3px;
   margin: auto;
   opacity: 0;
   position: absolute;
   top: 0.14em;
   right: 0;
   bottom: 0;
   left: 0;
   width: 0.7em;
   height: 0.7em;
}

.radio-group label {
   font-size: 1.8rem;
}

.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* 1つ目（タイトル）を横幅いっぱいに */
.radio-group > label:first-child {
  grid-column: 1 / -1;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-row {
   display: flex;
   justify-content: space-between;
}

.col {
   /*float: left;*/
   flex: 1;
   font-weight: 600;
}

.col.x-50 {
   padding: 0 1.5rem 0;
   margin-top: 1.5rem;
}

.col.x-100 {
   padding-right: 1.5rem;
   margin-top: 1.5rem;
}

/*input:-internal-autofill-selected,
.contact-form .input-text {
   background-color: rgba(46, 46, 46, 0.25);
}*/

input:-webkit-autofill,
input:-webkit-autofill:focus {
   transition: background-color 0s 600000s, color 0s 600000s !important;
}

.contact-form {
   width: calc(60% - 145px);
   position: absolute;
   top: -100px;
   right: 17.5%;
}

.x-50 span, .radio-group span {
   color: var(--accent);
   display: contents;
}

.x-100 legend span {
   display: contents;
}

.get-in-touch {
   margin: 0 auto;
   position: relative;
}

.form-field {
   position: relative;
}

.contact-form .input-text {
   font-size: 2rem;
   font-family: sans-serif;
   font-weight: 400;
   position: relative;
   color: var(--text);
   display: block;
   padding-left: 2rem;
   width: 270px;
   height: 50px;
   border-width: 0;
   background-color: var(--bg);
   box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.95);
}

.contact-form #message {
   width: 100%;
   /*height: 251.3px;*/
   height: 100%;
   margin: 0 auto;
   padding-top: 1rem;
}

.input-text:focus {
   outline: none;
}

.input-text:focus + .label,
.input-text.not-empty + .label {
  transform: translateY(-2rem);
  font-size: 1.2rem;
}

.contact-form .label {
   font-family: sans-serif;
   font-size: clamp(1.6rem, 1.181rem + 0.52vw, 1.8rem);
   font-weight: 400;
   color: rgba(10, 10, 10, 0.65);
   /*-webkit-text-stroke: 0.5px rgba(50, 50, 50, 0.5);*/
   position: absolute;
   left: 1.4em;/*rem？*/
   top: 0.5rem;
   pointer-events: none;
   transition:
      transform 0.2s ease-in-out,
      font-size 0.2s ease-in-out;
}

.contact-form .submit-btn {
   font-family: sans-serif;
   font-size: clamp(1.8rem, 1.467rem + 0.44vw, 2rem);
   width: 42.5%;
   height: 35pt;
   display: inline-block;
   color: var(--bg);
   background-color: rgba(65, 65, 65, 0.5);
   text-transform: uppercase;
   letter-spacing: 0.2rem;
   line-height: 1.5rem;
   padding-top: 0.5rem;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   border: none;
   box-shadow: inset 0px 0px 5.5px rgba(0, 0, 0, 0.95);
   cursor: pointer;
   transition: all 0.35s ease;
}

.contact-form .submit-btn:hover {
   color: var(--text);
   background: rgba(160, 113, 113, 0.6);
   border: none;
}

.align-center {
   font-size: clamp(1rem, 0.667rem + 0.44vw, 1.2rem);
   font-family: sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 1.6rem;
   gap: 1.75em;
   line-height: 1;
}

/*===================== モーダルウィンドウ =====================*/
/*未*/
form .modal {
   display: none;
   position: fixed;
   z-index: 1000;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   margin-top: 25vmin;
}

form .modal-content {
   width: 70vmin;
   height: 45vmin;
   margin: 0 auto;
   padding: 20px;
   color: var(--text);
   background: rgba(255, 255, 255, 0.25);
   box-shadow: 0 2px 3px 0 rgba(46, 46, 46, 0.57);
   backdrop-filter: blur(6.5px);
   border: 1px solid var(--border);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

form .modal-content p {
   font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 1.8rem);
   color: var(--bg);
}

form .close {
   color: var(--text);
   font-size: 25pt;
   font-weight: bold;
   float: right;
   position: absolute;
   top: 20%;
   right: 20%;
}

form .close:hover,
form .close:focus {
   color: var(--accent);
   text-shadow: 0 1px 2px var(--text);
   text-decoration: none;
   cursor: pointer;
}

/*===================== モーダルウィンドウ =====================*/

@media screen and (min-width: 600px) and (max-width: 1299px) {
   .form-row {
      display: block;
   }

   .col {
      padding: 0;
   }

   .col.x-50 {
      padding: 0;
      margin: 0.5rem auto 1rem;
   }

   .col.x-100 {
      padding: 0;
      margin-top: 1.5rem;
   }

   .contact-form {
      width: 80%;
      padding: 0.5rem 1rem;
      margin: 0 auto;
      position: relative;
      right: 0;
      top: 5%;
   }
   .contact-form .input-text {
      font-size: clamp(1.8rem, 1.343rem + 2.29vw, 2.2rem);
      width: 100%;
      height: 35pt;
      padding-left: 1rem;
      background-color: var(--bg);
      border: 1px solid var(--border);
   }

   .contact-form #message {
      height: 70pt;
   }

   .contact-form .label {
      font-size: clamp(1.4rem, 1.171rem + 1.14vw, 1.6rem);
      color: rgba(217, 217, 217, 0.75);
      left: 2.75%;
      top: 13.75%;
      line-height: 2rem;
   }

   .label-test {
      top: 6.5%;
   }

   .contact-form .submit-btn {
      font-size: clamp(2rem, 1.771rem + 1.14vw, 2.2rem);
      width: 100%;
      height: 30pt;
      padding: 0;
      margin: 0;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
   }

   .contact-form .submit-btn:active {
      color: var(--text);
      background: var(--accent);
   }

   .align-center {
      display: grid;
      align-items: center;
      justify-content: flex-start;
   }

   .align-center p {
      font-size: clamp(1rem, 0.771rem + 1.14vw, 1.2rem);
      width: 100%;
      margin: 0;
      margin-top: 1rem;
      line-height: 1.2;
      text-align: left;
   }

   .align-center p a {
      font-size: clamp(1.6rem, 1.143rem + 2.29vw, 2rem);
      margin-top: 0;
      padding: 0.5rem;
      border: 0;
   }

}


@media screen and (max-width: 599px) {
   .radio-group {
      margin: 1rem 0;
      gap: 0;
      grid-template-columns: none;
   }
   .radio-group label {
      font-size: 1.4rem;
      margin: 0.5rem 0;
   }
   .form-row {
      display: block;
   }

   .col {
      font-size: 1.4rem;
      padding: 0;
   }

   .col.x-50,
   .col.x-100 {
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
   }

   .contact-form {
      width: 80%;
      padding: 0;
      margin: 0 auto;
      position: relative;
      right: 0;
      top: 5vmin;
   }

   .contact-form .input-text {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--text);
      width: 100%;
      height: 40pt;
      padding-left: 1rem;
      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.75);
      border-radius: 8px;
   }

   .contact-form #message {
      height: 50vmin;
   }

   .contact-form .label {
      font-size: 1.4rem;
      font-weight: 500;
      color: rgba(46, 46, 46, 0.45);
      text-align: left;
      left: 0.75em;
      top: 3.5rem;
      line-height: 2rem;
      letter-spacing: -0.05rem;
   }

   .contact-form .submit-btn {
      font-size: 1.8rem;
      font-weight: 600;
      width: 100%;
      height: 25pt;
      color: var(--text);
      background: var(--bg);
      mix-blend-mode: color-burn;
      padding: 0;
      margin: 0;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      border-radius: 8px;
      box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.75);
   }

   .contact-form .submit-btn:active {
      color: var(--text);
      background: var(--border);
   }

   .align-center:last-child {
      display: block;
   }

   .align-center p {
      margin: 0;
      margin-top: 1rem;
      line-height: 1.2;
      text-align: left;
   }
   .align-center p a,
   .align-center p a::before,
   .align-center p a::after {
      border: none;
   }

   .align-center p a {
      font-size: clamp(1.6rem, 1.143rem + 2.29vw, 2rem);
      display: inline;
      margin-top: 0;
      padding: 0.5rem;
   }

   /*===================== モーダルウィンドウ =====================*/
   .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-top: 20%;
   }

   .modal-content {
      width: 55%;
      height: 350px;
      margin: 0 auto;
      padding: 20px;
      color: var(--text);
      background: rgba(245, 252, 246, 0.13);
      box-shadow: 0 3px 5px 0 rgba(46, 46, 46, 0.67);
      backdrop-filter: blur(6.5px);
      border: 1px solid var(--bg);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   .close {
      color: var(--base);
      font-size: 25pt;
      font-weight: bold;
      float: right;
      position: absolute;
      top: 20%;
      right: 20%;
   }

   .close:hover,
   .close:focus {
      color: var(--main);
      text-shadow: 0 1px 2px var(--base);
      text-decoration: none;
      cursor: pointer;
   }

   /*===================== モーダルウィンドウ =====================*/

}