/*== NAV ==*/
.head img {
    width: 45%;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    background: rgba(186, 186, 186, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1001;
    transition: all 1s ease;
}

.open nav {
    right: 0;
}

.inner {
    padding-left: 2rem;
}

.inner ul {
    margin: 0;
    padding: 0;
}

.inner ul li {
    position: relative;
    width: fit-content;
    border-bottom: 1px solid var(--hover);
}

.inner ul li:nth-child(5) {
    margin-top: 5em;
}

#navArea .inner li a {
    display: block;
    position: relative;
    color: var(--text);
    height: 100%;
    margin-top: 1.5rem;
    padding: .35em .65em 0 .2em;
    text-decoration: none;
    overflow: hidden;
}

#navArea .inner li a::before {
    content: '-';
}

#navArea .inner li a:hover {
    color: var(--hover);
    text-shadow: 0 1px 3px var(--accent);
    opacity: 0.5;
}

#navArea .inner li a::after {
    bottom: 0;
}

.toggle_btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 15vmin;
    height: 15vmin;
    /*border-left: 1px solid;
    border-bottom: 1px solid;*/
    transition: all 1.3s;
    /*background: url("../assets/images/mobile-main-second.png");
    background: var(--bg);
    border-image: url("../assets/images/text-gold.png") 100;*/
    cursor: pointer;
    z-index: 1001;
    transform: translate(0, 0);
}

.toggle_btn span {
    display: block;
    position: absolute;
    top: 8vmin;
    width: 10vmin;
    height: 0.5vmin;
    right: 0;
    background: var(--text);
    background: url("../assets/images/mobile-main-second.png") no-repeat center center/cover;
    overflow: hidden;
    z-index: 10000;
}
.toggle_btn span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            var(--bg) 0%,
            var(--bg) 100%,
            transparent);
    animation: scroll-left 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    background-size: 200% 100%;
    transition: all 2s;
    animation-delay: 2s;
    animation-duration: 3.5s;
}

@keyframes scroll-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
/*== OPEN ==*/
.open nav {
    right: 0;
}

.open .toggle_btn {
    transition: all 1s ease;
}
.open .toggle_btn span {
    box-shadow: -4px -4px 0px 0 var(--hover-color);
    background: url("../assets/images/mobile-main-second.png") no-repeat center center/cover;
    width: 100%;
    height: 0.5vmin;
    z-index: 100;
    transition: all 1s ease;
}
.toggle_btn span:nth-child(1) {
    transition: all 1s ease;
}
.open .toggle_btn span:nth-child(1) {
    transform: translate(310%, 0);
    transition: all 1s ease;
    opacity: .5;
}
.toggle_btn span:nth-child(2) {
    top: -200%;
    animation-delay: 0.56s;
    transform: translate(0%, 0%) rotate(90deg);
    transition: all 1s ease;
    opacity: 1;
}
.open .toggle_btn span:nth-child(2) {
    top: 5vmin;
    transform: translate(0%, 0%) rotate(90deg);
    transition: all 1s ease;
    opacity: 1;
}
.toggle_btn span:nth-child(3) {
    transform: translate(320%, 0);
    transition: all 1s ease;
    animation-delay: 0.56s;
    opacity: 1;
}
.open .toggle_btn span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
    transition: all 1s ease;
    opacity: 1;
}
/* Mask */
#mask {
    display: none;
    right: -100%;
    bottom: 0;
    transition: 0.8s ease;
}

.open #mask {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40svh;
    overflow: auto;
    padding-left: 2rem;
    cursor: pointer;
    transition: all 1s ease;
    align-items: end;
    z-index: 998;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    mix-blend-mode: screen;
    background: rgba(46, 46, 46,0.75);
    /*background-image: repeating-linear-gradient(0deg, transparent, transparent 4px, rgba(146, 146, 146, 0.5) 5px, rgba(146, 146, 146, 0.5) 5px);*/
    animation: menu-left 1s ease, moveBackground 0.65s linear infinite;
}

@keyframes menu-left {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.open #mask ul:last-child {
    margin: calc(20vmin - 5vw) 0 0;
}

.open #mask ul p {
    font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
    margin: 0;
}

.open #mask li {
    font-size: 1.2rem;
    margin: 0 1em 1.8em;
    padding: 0 0.25em 0.15rem;
    border-bottom: 1px solid;
}

.open #mask li span {
    font-size: 1rem;
}


@media screen and (min-width: 1300px) {

    /* PC_Menu */
    .pc_menu,
    .pc_menu ul,
    .logo,
    .audio  {
        border-image: url("../assets/images/text-gold.png") 100;
    }
    .pc_menu {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        width: 100%;
        height: fit-content;
        top: 1.95vh;
        left: 0;
        padding: 0.5em;
        border-bottom: 1px solid;
        background: url("../assets/images/mobile-main-second.png");
        z-index: 1;
        animation: menuIn_bg 2s ease forwards;
        transition: background-color 0.45s ease;
        box-shadow: 0px 3px 10px rgba(46, 46, 46, 0.85);
    }
    @keyframes menuIn_bg{
        0% {
            opacity: 0;
            transform: translateY(-5px);
            filter: blur(4px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0px);
        }
    }

    .pc_menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        /*border-bottom: 1px solid;*/
    }

    /*.pc_menu li {
        height: 110px;
    }*/

    .pc_menu a,
    .pc_menu #chat-icon {
        font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 2.2rem);
        font-weight: 400;
        width: 114px;
        height: fit-content;
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
        transition: color 0.3s ease;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    .manu_p a {
        font-size: clamp(2rem, calc(2rem + 0.5vw), 2rem);
    }

    .pc_menu a:hover,
    .pc_menu #chat-icon:hover {
        mix-blend-mode: difference;
    }


    .logo {
        position: relative;
        top: 0;
        z-index: 1;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    /*=========== audio
    .audio {
        width: 100%;
        padding: 2rem 0.5rem 1rem;
        border-left: 1px solid;
        border-right: 1px solid;
    }*/
    .audio span {
        position: absolute;
        left: -6.5px;
        bottom: -35%;
        font-size: 1.6rem;
        line-height: 1;
    }

    .toggle-switch {
        position: relative;
    }

    .toggle-checkbox {
        display: none;
        position: absolute;
        opacity: 0;
    }

    .toggle-label {
        display: block;
        /*transform: translate(0px, -4px);*/
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .toggle-label i {
        font-size: clamp(2.4rem, calc(2.4rem + 0.1vw), 3rem);
        transition: all 0.3s ease;
    }

    /* ON状態のスタイル
    .toggle-checkbox:checked+.toggle-label {
        background-color: var(--text);
    }*/

    .toggle-checkbox:checked+.toggle-label i {
        opacity: 0.5;
        transform: rotate(-135deg);
    }

    .fa-power-off:before {
        font-family: FontAwesome;
        content: "\f011";
    }

}