/* モーダルの背景 */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(25, 25, 25, 0.5);
   z-index: 999;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* モーダルのスタイル */
.modal {
   position: fixed;
   inset: 0;                 /* top/right/bottom/left:0 */
   margin: auto;
   padding: 5vh 5vw;
   width: 100%;
   max-width: 1200px;
   height: auto;
   max-height: 90vh;

   z-index: 1000;
   /*border-radius: 10px 0 0 10px;*/

   opacity: 0;
   visibility: hidden;
   overflow-y: auto;

   backdrop-filter: blur(8px);
   background:
     linear-gradient(to top, rgba(0,0,0,.15), rgba(46,46,46,.25)),
     url("../assets/images/pd-body-bg.jpg");
   background-size: cover;

   transform: scale(0.8);
   box-shadow: 0 3px 13px rgba(0,0,0,.95);

   transition: opacity .3s ease, transform .3s ease, visibility .3s;
}

.modal p {
   font-size: clamp(1.6rem, 1.267rem + 0.44vw, 1.8rem);
   line-height: 2.7rem;
   color: var(--bg);
   margin-bottom: 2vmin;
   text-shadow: 1px 1px 2px var(--text);
}


/* モーダルが表示されるとき */
.modal.show {
   opacity: 1;
   visibility: visible;
   transform: scale(1);
}

.modal-overlay.show {
   opacity: 1;
   visibility: visible;
}

/* 閉じるボタン */
.modal .close {
   position: absolute;
   top: 2rem;
   right: 5rem;
   background: none;
   border: none;
   font-size: clamp(3.8rem, 3.133rem + 0.89vw, 4.2rem);
   cursor: pointer;
}

/*==Service*/
.service .modal #wrap #container h3 span::before {
   content: "税込";
   font-size: clamp(1rem, 0.667rem + 0.44vw, 1.2rem);
   position: relative;
   margin-right: 0.25vmin;
}

/*==Contact Policy*/
.contact .modal h3 {
   font-size: clamp(2rem, 1.333rem + 0.89vw, 2.4rem);
   margin-top: 3vmin;
   mix-blend-mode: normal;
}

.contact .modal p,
.policy .modal p {
   color: var(--text);
   text-shadow: none;
}

.contact .modal ol,
.policy .modal ol {
   padding: 10vmin 15vmin;
   background: var(--bg);
   border-radius: 10px;
}

.contact .modal .accordion-wrap,
.policy .modal .accordion-wrap {
   width: 100%;
   top: 0;
   left: 0;
}

.contact .modal .accordion-header h3 {
   font-size: clamp(1.8rem, 1.467rem + 0.44vw, 2rem);
   margin-top: 0;
   color: var(--text);
}

.contact .modal .accordion-wrap ol,
.policy .modal .accordion-wrap ol {
   width: 80%;
   margin: 0 auto;
   color: var(--text);
   padding: 1vmin;
   background: none;
}

.contact .modal ol h3,
.policy .modal ol h3 {
   font-size: clamp(2.4rem, 1.733rem + 0.89vw, 2.8rem);
   font-weight: 600;
   color: var(--text);
   margin: 6vmin auto 1vmin;
   mix-blend-mode: normal;
}

/* 親要素でカウンターをリセット */
.contact .modal {
   counter-reset: num;
   /* カウンターを初期化 */
}

/* リストアイテムでカウンターをインクリメント */
.contact .modal li,
.policy .modal li {
   color: var(--text);
   padding: 1vmin 4vmin;
   margin-bottom: 5vmin;
   border-bottom: 1px solid var(--text);
   counter-increment: num;
   /* カウンターを増加 */
}

/* 各リストアイテムのカウンター値を表示 */
.contact .modal li::before,
.policy .modal li::before {
   content: counter(num, decimal-leading-zero) ". ";
   /* 例: 01. */
   font-weight: bold;
   color: var(--text);
   /* 必要に応じてカスタマイズ */
   position: absolute;
   left: 25.5vmin;
}

.contact #modal1 li::before {
   display: none;
}

.policy .modal .close,
.contact #modal2 .close {
   top: 11rem;
   right: 14rem;
   color: var(--text);
}

/*==Accordion*/
.modal .accordion-wrap {
   top: -5vmin;
   left: 9.5vmin;
   padding: 1rem;
   margin-bottom: 1rem;
   mix-blend-mode: normal;
}

.policy .modal ol .accordion-wrap h3 {
   font-size: 2rem;
   margin-top: 0.5vmin;
}

.policy .modal ol .accordion-wrap .fa span {
   top: 2.75vmin;
}