.section--second .top-s .text {
   margin-bottom: 5px;
}

.service #wrap {
   width: calc(800px - 50px);
   width: auto;
   height: fit-content;
   margin: 0 auto;
}

.se-tab-w {
   width: 100%;
   height: 100px;
   display: flex;
   align-items: end;
   justify-content: space-between;
   border-bottom: 1px solid var(--border);
   /*-webkit-backdrop-filter: blur(3px);
   backdrop-filter: blur(3px);*/
}

.list-tab ,.sp-list-tab {
   font-family: serif;
   font-size: clamp(1.8rem, 1.467rem + 0.44vw, 2rem);
   text-shadow: 1px 1px 2px #010101;
   width: calc(38% - 50px);
   height: 7vmin;
   color: var(--border);
   border: 1px solid var(--border);
   border-bottom: 0;
   cursor: pointer;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   transition: all 0.5s ease;
   /*background-image: repeating-linear-gradient(137deg, transparent, transparent 1px, rgba(146, 146, 146, 0.24) 1px, rgba(146, 146, 146, 0.24) 2px);
   animation: moveBackground 0.55s linear infinite;*/
}

.list-tab::before, .sp-list-tab::before {
   border-left: 1px solid;
}

.list-tab::after, .sp-list-tab::after {
   border-bottom: 1px solid;
}

.selected {
   font-size: clamp(2rem, 1.333rem + 0.89vw, 2.4rem);
   font-weight: 600;
   width: calc(42% - 10px);
   height: 9.25vmin;
   color: var(--bg);
   /*background-color: rgba(217, 217, 217, 0.8);
   background-image: repeating-linear-gradient(137deg, transparent, transparent 1px, rgba(46, 46, 46, 0.24) 1px, rgba(46, 46, 46, 0.24) 2px);
   animation: moveBackground 0.55s linear infinite;*/
}

.tab-container, .sp-tab-container {
   display: none;
   width: 100%;
   height: 45vmin;
   overflow-x: hidden;
   overflow-y: scroll;
   
   align-items: start;
   border: 1px solid var(--border);
   border-top: 0;
}

.tab-container.show, .sp-tab-container.show {
   display: block;
   margin: 0 auto;
   padding: 0 15vmin 2rem;
   animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
   from {
      filter: blur(3px);
      opacity: 0;
   }

   to {
      filter: blur(0px);
      opacity: 1;
   }
}

/*section .tab-container .se-box {
   margin-top: 2rem;
   margin-bottom: 5rem;
   display: flex;
   align-items: normal;
   cursor: pointer;
}*/

#wrap .tab-container h3, .sp-tab-container h3 {
   text-shadow: 1px 1px 2px #010101;
   margin-top: 8rem;
}

#wrap .tab-container ol h4, .sp-tab-container ol h4 {
   font-size: clamp(1.8rem, 1.467rem + 0.44vw, 2rem);
   font-weight: 500;
   color: var(--bg);
   margin-top: 4rem;
   padding-left: 0.85rem;
   border-bottom: 1px solid var(--border);
   text-shadow: 1px 1px 1px #010101;
}

#wrap .tab-container ol, .sp-tab-container ol {
   padding-bottom: 3.5rem;
   border-bottom: 10px solid var(--border);
}

#wrap .tab-container li, .sp-tab-container li  {
   font-size: clamp(1.6rem, 1.267rem + 0.44vw, 1.8rem);
   font-weight: 700;
   text-shadow: 1px 1px 1px #010101;
   margin-top: 0.5rem;
   padding: 0 1rem 0;
   letter-spacing: 0.025rem;
   word-break: break-word;
}

@media screen and (min-width: 600px) and (max-width: 1299px) {
   .service #wrap {
      width: 80%;
      margin-top: -0.65vmin;
      padding: 2em;
   }

   #wrap p {
      width: 65vmin;
      font-size: clamp(1rem, calc(1rem + 1vw), 1.2rem);
      margin: 2% auto 0;
      text-align: left;
   }

   .tab {
      font-size: clamp(1em, calc(1em + 0.5vw), 1.2em);
      width: 25vmin;
      height: 12vmin;
      margin: 1% 0.5%;
   }

   #tab3 {
      width: 30vmin;
   }

   .tab-container {
      height: 300px;
      min-height: 280px;
   }

   .container {
      font-size: clamp(1rem, calc(1rem + 1vw), 1.2rem);
   }

   .tab-container .container p {
      margin: 4% auto 0;
   }

   @keyframes fadeIn {
      from {
         opacity: 0;
      }

      to {
         opacity: 1;
         transform: translateY(0);
      }
   }

   .tab-container .se_card-container .se_card {
      width: 60vmin;
   }

   .tab-container .se_card-container .se_card p {
      margin-top: -35px;
      padding: 0.5em 1em 1em;
   }
}

/*================= SPレイアウト ==================*/

@media only screen and (max-width: 599px) {
   .service #wrap {
      width: 80%;
      padding: 0 0.25rem;
      margin-top: 2rem;
   }

   .se-tab-w {
      width: 100%;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      border-bottom: 1px solid var(--border);
   }

   .sp-list-tab {
      font-size: clamp(1.8rem, 1.571rem + 1.14vw, 2rem);
      width: 100%;
      height: 12vmin;
      height: 18vmin;
   }

   .selected {
      font-size: clamp(2rem, 1.543rem + 2.29vw, 2.4rem);
      height: 20vmin;
   }

   .sp-tab-container.show {
      width: 100%;
      padding: 1em 0.5em 0;
   }

   .sp-tab-container {
      height: 75vmin;
   }

   /*section .tab-container .se-box {
      margin-top: 2rem;
      margin-bottom: 5rem;
   }*/

   #wrap .sp-container h3 {
      font-size: clamp(2rem, 1.739rem + 1.31vw, 2.8rem);
      text-shadow: 1px 1px 2px #010101;
      margin-top: 4rem;
   }

   #wrap .sp-container h3 span {
      content: "（税込み）";
      font-size: clamp(1.2rem, 1.069rem + 0.65vw, 1.6rem);
   }

   #wrap .sp-container ol h4 {
      font-size: clamp(1.8rem, 1.571rem + 1.14vw, 2rem);
      font-weight: 500;
      color: var(--bg);
      margin-top: 4rem;
      padding-left: 0.85rem;
      border-bottom: 1px solid var(--border);
      text-shadow: 1px 1px 1px #010101;
   }

   #wrap .sp-container ol {
      padding-bottom: 3.5rem;
      border-bottom: 10px solid var(--border);
   }

   #wrap .sp-container li {
      font-size: clamp(1.4rem, 1.171rem + 1.14vw, 1.6rem);
      font-weight: 700;
      text-shadow: none;
      margin-top: 0.5rem;
      padding: 0 1rem 0;
      letter-spacing: 0.025rem;
      word-break: break-word;
   }
}