.tabs,
.slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background: linear-gradient(to top, rgba(180, 180, 160, 0.4) 0%, rgba(180, 180, 160, 0.4) 100%),
    url("../assets/images/pd-body-bg.jpg") no-repeat center center/cover;
}

.tabs {
    padding: 5em 0 5em;
    min-height: 60svh;
}

html {
    scroll-behavior: smooth;
}

.tabs-container {
  display: flex;
  position: fixed;
  bottom: 40px;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  padding: 0.5rem 1rem 0;
  mix-blend-mode: difference;
  z-index: 100;
  animation: slideFadeIn 0.8s ease-out forwards;
  animation-delay: 0.6s;
}

@keyframes slideFadeIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.tabs-container--top {
    bottom: 1em;
    opacity: 1;
}

.tab {
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    text-decoration: none;
    position: relative;
    box-shadow: 0px 0px 8px 0px #000;
    backdrop-filter: blur(5px);
    background: rgba(46, 46, 46, 0.65);
    transition: bottom 0.3s ease, opacity 0.3s ease;
    z-index: 10;
}

.tabs-container a {
    position: relative;
    right: 0;
    align-items: center;
}
.tabs-container a:hover {
    color: var(--accent);
    background: var(--text);
    transition: all 0.35s ease;
}
.tabs-container a::after,
.tabs-container a::before {
    display: none;
}

.tab-slider {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--border);
    transition: left 0.25s ease, width 0.3s ease;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .tabs-container {
        display: grid;
        bottom: 5em;
        width: 35%;
        padding: 0;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
    }

    .tab {
        font-size: 1.4rem;
        transition: all 0.3s ease;
        box-shadow: 0 0px 0px 2.5px rgba(46, 46, 46, 0.35);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: rgba(150, 150, 150, 0.85);
    }

    .tab:active {
        color: var(--text);
        background: var(--bg);
        transition: all 0.5s ease;
    }
    
    .tabs-container a {
        font-family: "Jost", serif;
        color: var(--text);
        display: inline;
        line-height: 2.4;
        text-shadow: 0px 0px 2px var(--text);
        padding-bottom: 0.25rem;
        margin: 0.5em 0.5em 0.5em 0;
        align-content: center;
    }
    
    .tabs-container a::after,
    .tabs-container a::before {
        display: none;
    }
    
    .tab-slider {
        border-radius: 3px;
        background-color: var(--bg);
    }
}