/* ===============================
   TABS BASE
================================ */

.tabs,
.slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background:
      linear-gradient(to top, rgba(180, 180, 160, 0.4), rgba(180, 180, 160, 0.4)),
      url("../assets/images/pd-body-bg.jpg") no-repeat center / cover;
}

.tabs {
    padding: 5em 0;
    min-height: 60svh;
}

/* ===============================
   TAB CONTAINER
================================ */

.tabs-container {
    position: fixed;
    bottom: 40px;
    left: 0;
    display: flex;
    gap: 0.5rem;

    padding: 0.5rem 1rem 0;
    z-index: 100;

    mix-blend-mode: difference;

    /* slider の基準 */
    position: fixed;
    position: relative;

    /* 表示アニメーション */
    transform: translateX(-100%);
    opacity: 0;
    animation: slideFadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes slideFadeIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ===============================
   TAB
================================ */

.tab {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    letter-spacing: 0.1rem;
    text-decoration: none;

    background: rgba(46, 46, 46, 0.65);
    backdrop-filter: blur(5px);

    box-shadow: 0 0 8px #000;
    transition: all 0.3s ease;
    z-index: 2;
}

.tab.is-active {
    color: var(--accent);
}

/* ===============================
   SLIDER
================================ */

.tab-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;

    background-color: var(--border);
    transition: left 0.25s ease, width 0.3s ease;
    z-index: 1;
}

/* ===============================
   MOBILE
================================ */

@media (max-width: 600px) {
    .tabs-container {
        display: grid;
        width: 40%;
        bottom: 5em;
        padding: 0;
        backdrop-filter: blur(5px);
    }

    .tab-slider {
        display: none; /* ★ SPでは slider を使わない */
    }

    .tab {
        font-size: 1.4rem;
        background: rgba(150, 150, 150, 0.85);
        box-shadow: 0 0 0 2px rgba(46, 46, 46, 0.35);
    }
}
